@import '../../styles/variables.scss';


.nav {
  width: 18vw;
  height: 100vh;
  background-color: $blue;
  

  &__container {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-link {
      width: 100%;
      margin-left: 40%;
      font-size: 20px;
      color: rgba(255,255,255,0.7);
      text-decoration: none;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      fill: rgba(255,255,255,0.7);

      &-img {
        height: 25px;
        width: 25px;
        margin-right: 20px;
      }

      &-title {
        margin: 0;
      }
    }
  }
}
