@import '../../styles/variables.scss';

.dashboard {
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: $padding;

  &__open-button {
    cursor: pointer;
    align-self: flex-end;
    width: 200px;
    height: 50px;
    margin: 60px 0 20px;
    box-shadow: $box-shadow;
    border: none;
    border-radius: 6px;
    background-color: $blue;
    color: #fff;
    font-weight: bolder;
    font-size: 1rem;
    outline: none;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &__section {
    position: relative;
    padding-bottom: 50px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 40px;
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
    &-search {
      position: absolute;
      top: 0;
      right: 0;
      width: 150px;
      font-size: 15px;
      background-color: $grey;
      background-image: url("../../assets/search-icon.svg");
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: 15px center;
      padding: 10px 20px 10px 35px;
      border: 1px solid lightgrey;
      border-radius: 40px;
      outline: none;
    }
    &-heading {
      font-size: 35px;
      margin: 0 0 30px;
    }
    &-container {
      display: flex;
      flex-wrap: wrap;
    }
    &-table {
      height: 270px;
      overflow: auto;
    }
  }
}
