@import '../../styles/variables.scss';

.calendar {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__external {
    &-plus {
      cursor: pointer;
      position: absolute;
      top: 65px;
      right: 15px;
      width: 10px;
      padding: 3px;
      background-color: white;
      border: 1px solid $blue;
      border-radius: 3px;
    }
    &-heading {
      font-weight: bold;
      margin: 65px 0 20px;
    }
  }
}

#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 200px;
}

#calendar {
  max-width: 1000px;
  width: 100%;
  margin: 0px 50px;
}

.button {
  height: 200px;
  width: 200px;
}

#external-events {
  position: relative;
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 85%;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  margin: 0 0 40px 40px;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
}

.fc-button-primary {
  background-color: $dark-blue !important;
}